.App {
  text-align: center;
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tweet-box {
  border: solid white;
  border-width: 1pt;
  min-height: 30vh;
  min-width: 25vw;
}

.tweet-box .container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.tweet-box .client {
  border: solid white;
  border-width: 1pt;
}

.tweet-box .tweet-input {
  height: 100;
}

.tweet-box input {
  height: 50px;
}
.tweet-box .char-count {
  font-size: 10pt;
}
.tweet-box .warn {
  color: red;
}
.tweet-box .tweet-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
